<div class="header">
  <h2>{{ titlePage }}</h2>
</div>
<div>
  <ul *ngIf="_dataItems.length > 0" class="list-unstyled row">
    <li class="media m-2 col-sm-6" *ngFor="let item of _dataItems">
      <img
        style="width: 200px; height: 200px"
        [src]="item.image?.url"
        class="mr-3 img-thumbnail"
        alt="..."
      />
      <div class="media-body" style="width: 200px; height: 200px">
        <h5 class="mt-0 mb-1">{{ item.title }}</h5>
        <p class="text-truncate">{{ item.content }}</p>
      </div>
    </li>
  </ul>
  <app-pagination [items]="_itemPagination"></app-pagination>
</div>
